.enter_game {
    width: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 479px) {
    .enter_game {
        width: 100%;
    }
}

.paragraph title-center {
    color: red;
}

.main-section {
    background-image: url('../Home/images/background.jpg');
    background-size: cover;
    /* opacity: 0.5; */
    color: rgb(39, 39, 39);
    text-shadow: 1px 1px 2px rgba(201, 201, 201, 0.699);
    position: relative;
  }

  /* Add specific overlay styles for the Tutorial section */
.tutorial-overlay {
    position: absolute;
    top: 0;
    left: 5;
    right: 5;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
}

.section:nth-child(3) .section-paragraph {
    color: rgb(255, 228, 75); /* Change to the color you desire */
}

